{% extends "R_hire/registration/form.html" %}

{% block title %}R_Hire | Candidate Register{% endblock %}

{% block content %}

<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
	{% if form.non_field_errors %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-danger alert-dismissible fade in" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<strong>{{ error }}</strong>
			</div>	
		{% endfor %}
	{% endif %}
    <form id="login-form" method="POST">
    	<!-- CSRF token is rendered by Django in forms to avoid CSRF attacks -->
    	{% csrf_token %}
		
		{% for field in form %}
			<div class="form-group">
				<!-- Render the field label tag for each field -->
				{{ field.label_tag }}

				<!-- If this field is required, display a * next to the field label -->
				{% if field.field.required %}
					*
				{% endif %}
				<br>
				
				<!-- Render the input field -->
				{{ field }}
				<!-- Iterate over the field's errors, if any and display
				them one by one in a error alert
				-->
				{% if field.errors %}
					{% for error in field.errors %}
						<div class="alert alert-danger alert-dismissible fade in" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							<strong>{{ error }}</strong>
						</div>	
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}

        <center>
        	<button type="submit" name="signup-submit" class="btn btn-primary btn-lg not-round">Register</button>
        </center>
    	<div class="text-right">
			<a href="{% url 'r_hire:login' %}"><strong>Existing User?</strong></a>
		</div>
    </form>
</div>

{% endblock %}
