{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "R_hire/css/account.css" %}">
</head>
<body>
	<div class="container">
		<div class="row">
		    <!-- <div class="col-md-6 col-lg-6">
		        <form id="login-form" method="POST">
		            <h1>login</h1>
		            <div class="form-group">
		                <label>Username *</label><input name="login-username" type="text" class="form-control input-lg" placeholder="Enter Your Username" required>
		            </div>
		            <div class="form-group">
		                <label>Password *</label><input name="login-pass" type="password" class="form-control input-lg" placeholder="Password" required>
		            </div>
		            <center><button type="submit" name="login-submit" class="btn btn-success btn-lg">Login</button></center>
		        </form>
		    </div> -->
		    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
		        <form id="login-form" method="POST">
		            <!-- <h1>sign up</h1> -->
		            <div class="form-group">
		                <label>First Name *</label>
		                <input name="fname" type="text" class="form-control" placeholder="We need to call you something" required>
		            </div>
		            <div class="form-group">
		                <label>Last Name</label>
		                <input name="lname" type="text" class="form-control" placeholder="If you have one">
		            </div>
		            <div class="form-group">
		                <label>Email ID *</label>
		                <input name="email" type="email" class="form-control" placeholder="Even we don't like to spam" required>
		            </div>
		            <div class="form-group">
		                <label>Password *</label><input name="pass" type="password" class="form-control" placeholder="Password" required>
		            </div>
		            <div class="form-group">
		                <label>Re-enter Password *</label><input name="confpass" type="password" class="form-control" placeholder="ReEnter Password" required>
		            </div>
		            <center>
		            	<button type="submit" name="signup-submit" class="btn btn-primary btn-lg not-round">Register</button>
		            </center>
		        </form>
		    </div>
		</div>
	</div>
</body>
</html>