{% extends "R_hire/profile/main.html" %}

{% block title %}R_Hire | Candidate Edit Profile{% endblock %}

{% block content %}

{% load r_hire_choices %}

<section class="content-header">
    <h1>Candidate Profile Edit</h1>
</section>

<section class="content">
	<div class="row">
		<section class="col-lg-12 connectedSortable">
			<div class="box box-default">
				<form role="form" action="{% url 'r_hire:update-profile' %}" method="GET">
					<div class="box-body">
						{% for field in form %}
						<div class="form-group">
							<!-- Render the field label tag for each field -->
							{{ field.label_tag }}

							<!-- If this field is required, display a * next to the field label -->
							{% if field.field.required %}
								*
							{% endif %}
							<br>

							{% if field.widget|widget_type == "ChoiceField" %}

								"sss"

							{% else %}
								
								<!-- Render the field -->
								{{ field }}
								{{ field|widget_type }}

							{% endif %}
							
							<!-- Iterate over the field's errors, if any and display
							them one by one in a error alert
							-->
							{% if field.errors %}
								{% for error in field.errors %}
									<div class="alert alert-danger alert-dismissible fade in" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
										<strong>{{ error }}</strong>
									</div>	
								{% endfor %}
							{% endif %}
						</div>
						{% endfor %}
					</div>

					<div class="box-footer">
						<button type="submit" name="save-changes" class="btn btn-primary btn-lg not-round">Save</button>
					</div>
                </form>
			</div>
		</section>
	</div>
</section>

{% endblock %}
