{% extends "R_hire/profile/main.html" %}

{% block title %}R_Hire | Candidate Profile{% endblock %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Candidate Profile
        <!-- <small>Control panel</small> -->
    </h1>
</section>

<!-- Main content -->
<section class="content">
	<!-- Main row -->
	<div class="row">
		<!-- Left col -->
		<section class="col-lg-7 connectedSortable">

			<div class="box box-default">
				<div class="box-header with-border">
					<i class="fa fa-warning"></i>
					<h3 class="box-title">Alerts</h3>
				</div><!-- /.box-header -->
				<div class="box-body">
					<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<h4><i class="icon fa fa-ban"></i> Alert!</h4>
					Danger alert preview. This alert is dismissable. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
					</div>
					<div class="alert alert-info alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<h4><i class="icon fa fa-info"></i> Alert!</h4>
					Info alert preview. This alert is dismissable.
					</div>
					<div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<h4><i class="icon fa fa-warning"></i> Alert!</h4>
					Warning alert preview. This alert is dismissable.
					</div>
					<div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<h4>	<i class="icon fa fa-check"></i> Alert!</h4>
					Success alert preview. This alert is dismissable.
					</div>
				</div><!-- /.box-body -->
			</div>

		</section><!-- /.Left col -->
		<!-- right col (We are only adding the ID to make the widgets sortable)-->
		<section class="col-lg-5 connectedSortable">

			<!-- Calendar -->
			<div class="box box-solid bg-green-gradient">
			<div class="box-header">
			<i class="fa fa-calendar"></i>
			<h3 class="box-title">Calendar</h3>
			<!-- tools box -->
			<div class="pull-right box-tools">
			<!-- button with a dropdown -->
			<div class="btn-group">
			<button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
			<ul class="dropdown-menu pull-right" role="menu">
			<li><a href="#">Add new event</a></li>
			<li><a href="#">Clear events</a></li>
			<li class="divider"></li>
			<li><a href="#">View calendar</a></li>
			</ul>
			</div>
			<button class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
			<button class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
			</div><!-- /. tools -->
			</div><!-- /.box-header -->
			<div class="box-body no-padding">
			<!--The calendar -->
			<div id="calendar" style="width: 100%"></div>
			</div><!-- /.box-body -->
			<div class="box-footer text-black">
			<div class="row">
			<div class="col-sm-6">
			<!-- Progress bars -->
			<div class="clearfix">
			<span class="pull-left">Task #1</span>
			<small class="pull-right">90%</small>
			</div>
			<div class="progress xs">
			<div class="progress-bar progress-bar-green" style="width: 90%;"></div>
			</div>

			<div class="clearfix">
			<span class="pull-left">Task #2</span>
			<small class="pull-right">70%</small>
			</div>
			<div class="progress xs">
			<div class="progress-bar progress-bar-green" style="width: 70%;"></div>
			</div>
			</div><!-- /.col -->
			<div class="col-sm-6">
			<div class="clearfix">
			<span class="pull-left">Task #3</span>
			<small class="pull-right">60%</small>
			</div>
			<div class="progress xs">
			<div class="progress-bar progress-bar-green" style="width: 60%;"></div>
			</div>

			<div class="clearfix">
			<span class="pull-left">Task #4</span>
			<small class="pull-right">40%</small>
			</div>
			<div class="progress xs">
			<div class="progress-bar progress-bar-green" style="width: 40%;"></div>
			</div>
			</div><!-- /.col -->
			</div><!-- /.row -->
			</div>
			</div><!-- /.box -->

		</section><!-- right col -->
	</div><!-- /.row (main row) -->

</section><!-- /.content -->


{% endblock %}
